.App {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(
		138deg,
		rgba(179, 229, 252, 1) 0%,
		rgba(179, 229, 252, 1) 50%,
		rgba(199, 4, 166, 1) 50%,
		rgba(199, 4, 166, 1) 100%
	);
}
